ul{
  background: #cce5ff;
  padding: 0px;
  margin: 0px;
}

ul li{
  padding: 15px 30px;
  margin: 0px;
  display: inline-block;
}

li a{
  text-decoration: none;
} 

a{
  color: black;
}

.active,
li:hover{
  background: #3399ff;
  
}

.active a{
  color: white;
}
.sticky{
  position: fixed;
  top: 0;
  width: 98.3%;
}

.content h3{
  text-align: center;
  font-size: 40px;
  color: cadetblue;
}

p {
  color: darkolivegreen;
  padding: 0 30px;
}

.content{
  background-color: honeydew;
}